<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h2>Serviços</h2>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% servicos.forEach(servico => { %>
                    <tr>
                        <th><%= servico.val().nome %></th>
                        <% if(servico.val().diretorio == ''){%>
                            <th>TCP/IP</th>
                        <%}else{%>
                            <th>Arquivo</th>
                        <%}%>
                        <th>
                            <a class="btn btn-warning" href="/servicos/editar/<%= servico.val().id %>" >Editar</a>
                            <form method="POST" action="/servicos/deletar" style="display: inline;" onsubmit="confirmarDelete(event,this)">
                                <input type="hidden" name="id" value="<%= servico.val().id %>">
                                <input type="hidden" name="nome" value="<%= servico.val().nome %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>  
    </div>
</body>
<%- include('./partials/footer.ejs') %>
<script>
    function confirmarDelete(event,form){
        event.preventDefault();
        var decision = confirm("Você quer deletar este serviço?");
        if(decision){
            form.submit();
        }
    }
</script>  