<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h2>Serviços</h2>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>IP</th>
                    <th>Porta</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% servicos.forEach(servico => { %>
                    <tr>
                        <th><%= servico.val().nome %></th>
                        <th><%= servico.val().ip %></th>
                        <th><%= servico.val().porta%></th>
                        <th>
                            <button class="btn btn-warning">Editar</button>
                            <form method="POST" action="/servicos/deletar" style="display: inline;">
                                <input type="hidden" name="id" value="<%= servico.val().id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>  
    </div>
</body>
<%- include('./partials/footer.ejs') %>
  