<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Editar serviço:</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/editarTCP">
                    <input type="hidden" name="id" value="<%= servico.id%>">
                    <input type="hidden" name="nomeAntigo" value="<%= servico.nome%>">
                    <input type="text" placeholder="Nome do serviço" name="nome" class="form-control" value="<%= servico.nome %>">
                    <br>
                    <input type="text" placeholder="IP do servidor do serviço" name="ip" class="form-control" value="<%= servico.ip %>">
                    <br>
                    <input type="text" placeholder="Porta do servidor do serviço" name="porta" class="form-control" value="<%= servico.porta%>">
                    <br>
                    <button class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>